<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>icon_profile_time</string>
				<key>title</key>
				<string>定时关闭</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string></string>
				<key>funcKey</key>
				<string>timeOff</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#999999</string>
				<key>subTitleFontSize</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_profile_upload</string>
				<key>title</key>
				<string>上传音乐</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string></string>
				<key>funcKey</key>
				<string>uploadMusic</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#999999</string>
				<key>subTitleFontSize</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_profile_message</string>
				<key>title</key>
				<string>我的消息</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string></string>
				<key>funcKey</key>
				<string>message</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#999999</string>
				<key>subTitleFontSize</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_info</string>
				<key>title</key>
				<string>隐私政策</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string></string>
				<key>funcKey</key>
				<string>policy</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#999999</string>
				<key>subTitleFontSize</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_profile_message</string>
				<key>title</key>
				<string>意见反馈</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string></string>
				<key>funcKey</key>
				<string>feedback</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#999999</string>
				<key>subTitleFontSize</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>icon_profile_no_ad</string>
				<key>title</key>
				<string>免除广告</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string></string>
				<key>funcKey</key>
				<string>removeAd</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#999999</string>
				<key>subTitleFontSize</key>
				<integer>12</integer>
			</dict>
		</array>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
	</dict>
</array>
</plist>
